html
{
    font-family: 'Open Sans', sans-serif;
}
.row>a
{
    text-align:center;
    margin:1rem auto;
}
h1, h2, h3
{
    text-align:center;
}
.row>div
{
    background-color:#DADADA;
    margin:10px;
}
